.navbar-expand-lg {
    background-color: #2e51a2 !important;
}

.navbar-brand {
    color: #ffffff !important;
    margin-left: 50px;
    font-weight: normal;
    position: relative;
    display: inline-block;
}

.navbar-brand::before {
    content: attr(data-text);
    font-weight: bold;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    display: block;
  }

.navbar-brand:hover {
    font-weight: bold;
}

.col-auto {
    margin-right: 7px;
    align-content: center;
}

.nav-link {
    position: relative;
    display: inline-block;
    font-weight: normal;
    align-content: center;
    color: #ffffff !important;
}

.nav-link::before {
    content: attr(data-text);
    font-weight: bold;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    display: block;
  }

.nav-link:hover {
    font-weight: bold;
}

.dropdown {
    align-content: center;
}

.navbar .container {
    margin: 0px;
}

.btn-primary {
    --bs-btn-bg: #e1e7f5 !important;
    --bs-btn-color: #2e51a2 !important;
}

.profile-button {
    align-content: center;
}

.profile-button-button {
    float: right;
    margin-right: 50px;
}

.col {
    display: flex;
}
