    .default{
        background-color: #121212;
        width: 100%;
        height: 300%;
    }
    .page div{
        background-color: #121212;
        color: white;
    }

    .page{
        display: flex; 
        font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
        background-color: #121212;
        color: #e0e0e0;
        margin-left: 10rem;
        margin-right: 10rem;
    }
 
    .page h1{
        display: flex;
        color: #e0e0e0;
        justify-content: center;
    }


    .page u{
        color: #e0e0e0;
    }
    .page p{
        color: #e0e0e0;
    }

    .leftblock{
        
        background-color: #272727;
        width: 15%;
        height: 35rem;
        
        border: 1px solid #585858;; 
   
    } 

    .centerblock{
        
        background-color: #272727;
        
        
        width: 60%;
        border: 1px solid #585858;;
    }

    .rightblock{
        background-color: #272727;
        height: 30rem;
        border: 1px solid #585858;;
    }