.public-watchlists-container {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.public-watchlists-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55rem;
  margin: 2rem auto 1rem;
  color: #f1f1f1;
}

.public-watchlists-header h1 {
  margin: 0;
  font-size: 2rem;
  color: #f1f1f1;
}

.search-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 300px;
  background-color: #333;
  color: #f1f1f1;
  border-color: #555;
}

.search-input::placeholder {
  color: #aaa;
}

.public-watchlist-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 55rem;
  margin: 0 auto;
}


.public-watchlist-card {
  background-color: #2c2c2c;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #f1f1f1;
}

.public-watchlist-name {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
  color: #4ea8de;  
}

.watchlist-username-container {
  position: relative;
  display: inline-block;
  min-height: 60px;
}

.public-watchlist-username {
  font-size: 1rem;
  color: #f1f1f1;
  font-weight: bold;
}

.title-grid {
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.title-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-poster {
  width: 80px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.title-name {
  font-size: 0.8rem;
  margin-top: 0.25rem;
  color: #4ea8de;
}

.title-link {
  text-decoration: none;
  color: inherit; /* optional, keeps text color consistent */
}

.likes-comments {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}



.add-friend-button {
  background-color: #555;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 10px;

}

.add-friend-button:hover {
  background-color: #777;
  transform: scale(1.05);
}

  