#individual-watchlist-comment-section {
    width: 90%;
}

#individual-watchlist-comment-section h2 {
    margin: 0;
    font-size: 1.5rem;
}

#individual-watchlist-header-comments-hr {
    border-top: 3px solid;
    color: #000000;
    width: 100%;
    opacity: 1;
    border-radius: 50px;
}

#individual-watchlist-create-comment {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: end;
    margin-bottom: 2rem;
}

#individual-watchlist-post-comment {
    width: 8rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 0px solid transparent;
    margin-top: .5rem;
    transition: .2s;

}

#individual-watchlist-post-comment:hover {
    background-color: white;
    color:black;
    transition: ease();
}

#individual-watchlist-comment-textarea {
    width: 100%;
    resize: none;
}